.logo
{
width:100px;
height:100px;
float:left;
}


.logoimage
{
width:100px;
height:100px;
}



.message
{
background-color:#0101DF;
width:1350px;
height:100px;
color:#190707;
font-size:33px;
font-style:italic;
position:inherit;
text-align:center;
}

.errMsg
{
background-color:pink;
width:800px;
height:50px;
color:red;
font-size:20px;
font-style:italic;
text-align:center;
		
}

body
{
background-color:#EFFBF2;
}
welcomepage
{

width:5450px;
height:200px;
}

stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
background-color:green;
color:black;
font-style:normal;
font-weight:bold;
font-size:20px;
}

label
{
background-color:pink;
color:brown;
font-style:italic;
font-size:22px;
}
.webinfo 
{
background-color:green;
font-size:20px;
width:1000px;
height:200px;
}

.empty
{
height:100px;
background-color:#B8860B
}

#sucess{
background-color:#FFFF00;
width:800px;
height:50px;
color:#088A08;
font-size:40px;
font-style:italic;
text-align:center;	
}

#confirmationMessage{
	background-color:#FFFF00;
width:800px;
height:50px;
color:#088A08;
font-size:40px;
font-style:italic;
text-align:center;
	
	
}